<section>
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-32 2xl:max-w-7xl items-center">
    <div class="max-w-xl mx-auto text-center">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        The Author
      </p>
      <p class="mt-4 text-lg tracking-tight text-slate-600">
        A full width entry to use as a header
      </p>
    </div>

    <div
      class="prose max-w-3xl py-24 mx-auto prose-slate font-serif prose-headings:font-sans first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-slate-900 first-letter:mr-3 first-letter:float-left prose-blockquote:border-l-salmon-500 prose-headings:text-black prose-li:marker:text-salmon-500">
      <p>
        Phanatik is the weekend news editor at The Verge. Her interest in tech
        started with the Dell Dimension 4600 her dad ordered from QVC. When she
        isn't behind a keyboard, Emma enjoys playing video games, going on bike
        rides, and gardening.
      </p>
    </div>
  </div>
</section>
