<section>
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-32 2xl:max-w-7xl items-center">
    <div class="max-w-xl mx-auto text-center">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        Style guide
      </p>
      <p class="mt-4 text-lg tracking-tight text-slate-600">
        A full width entry to use as a header
      </p>
    </div>

    <div class="max-w-xl mx-auto">
      <div class="lg:mt-32 mt-12">
        <div>
          <p class="text-slate-600">
            <span class="text-black font-medium block font-display"
              >Typography</span
            >
            <span class="text-sm">Merriweather · Work Sans</span>
          </p>
        </div>
        <div class="mt-12">
          <div class="max-w-xl">
            <div class="space-y-6 py-3">
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 1</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold tracking-tighter lg:text-5xl text-lg"
                    >Header 1</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 2</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold tracking-tighter text-base lg:text-4xl"
                    >Header 2</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 3</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold tracking-tighter text-base lg:text-3xl"
                    >Header 3</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 4</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold tracking-tighter text-base lg:text-2xl"
                    >Header 4</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 5</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold tracking-tighter text-base lg:text-xl"
                    >Header 5</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Header 6</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold tracking-tighter text-base lg:text-lg"
                    >Header 6</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Link</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span
                    class="text-black font-semibold text-base hover:text-salmon-600"
                    >Link text</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Subtitle</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-black font-medium">Subtitle text</span>
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div>
                  <span class="text-black">Paragraph</span>
                </div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-sm text-black font-display"
                    >I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Caption</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <span class="text-black text-xs">Picture about somethign</span
                  >
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">Code</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <code class="font-mono">tailwind.config.js</code>
                </div>
              </div>
              <div class="grid grid-cols-3 items-start lg:grid-cols-4">
                <div><span class="text-black">List</span></div>
                <div class="col-span-2 lg:col-span-3">
                  <ul
                    class="text-slate-600 list-inside space-y-3 list-disc mt-6"
                    role="list">
                    <ul
                      class="text-slate-600 list-inside space-y-3 font-normal list-none mt-3"
                      role="list">
                      <li>Access to premium posts</li>
                      <li>Weekly newsletters</li>
                      <li>Simple, secure card payment</li>
                      <li>No Advertising</li>
                      <li>Special discounts</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:mt-32 mt-12">
        <div>
          <p class="text-slate-600">
            <span class="text-black font-medium block">Main</span>
            <span class="text-sm">Color Palette</span>
          </p>
        </div>
        <div>
          <div class="grid grid-cols-4 lg:grid-cols-5 max-w-xl py-3 mt-12">
            <div class="h-4 lg:p-12 p-6 w-4 bg-wood-500"></div>
            <div class="h-4 lg:p-12 p-6 w-4 bg-salmon-500"></div>
            <div class="h-4 lg:p-12 p-6 w-4 bg-mist-500"></div>
            <div class="h-4 lg:p-12 p-6 w-4 bg-black"></div>
          </div>
        </div>
        <div class="lg:mt-32 mt-12">
          <div>
            <p class="text-slate-600">
              <span class="text-black font-medium block">main</span>
              <span class="text-sm">Buttons</span>
            </p>
          </div>
          <div>
            <div class="w-full flex flex-wrap gap-2 mt-12">
              <a
                class="inline-flex justify-center py-1 px-4 text-base font-medium tracking-wide focus:outline-none bg-black text-white hover:bg-mist-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mist-600 active:bg-mist-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-mist-600"
                href="https://lexingtonthemes.com/pricing"
                aria-label="Visit The Verge"
                >Primary button
              </a><a
                class="inline-flex justify-center py-1 px-4 text-base font-medium tracking-wide focus:outline-none text-black hover:text-salmon-600"
                href="#"
                aria-label="Visit The Verge">Secondary button</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
