<section>
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-32 2xl:max-w-7xl items-center">
    <div class="max-w-xl mx-auto text-center">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        The Team
      </p>
      <p class="mt-4 text-lg tracking-tight text-slate-600">
        A full width entry to use as a header
      </p>
    </div>

    <div
      class="prose max-w-3xl py-24 mx-auto prose-slate font-serif prose-headings:font-sans first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-slate-900 first-letter:mr-3 first-letter:float-left prose-blockquote:border-l-salmon-500 prose-headings:text-black prose-li:marker:text-salmon-500">
      <p>
        Our team has led and delivered large-scale software and design projects
        in multiple startups and high-growth environments like Uber, Airbnb and
        Coinbase.
      </p>
    </div>
    <div>
      <ul
        role="list"
        class="sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-12">
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../a.jpg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Annur Flint
              </h3>
              <p class="text-base text-slate-500">CEO at Flint LLC</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../b.jpeg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Juan Echanove
              </h3>
              <p class="text-base text-slate-500">Founder of Pay Oneeer</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../c.jpg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Elona Muska
              </h3>
              <p class="text-base text-slate-500">Founder of Fesla</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../d.jpg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Messina Lionel
              </h3>
              <p class="text-base text-slate-500">COO at Pff Inc</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../e.jpg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Zarco Marr
              </h3>
              <p class="text-base text-slate-500">CEO at Flint LLC</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../f.jpeg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Jhon Moon
              </h3>
              <p class="text-base text-slate-500">Founder of Pay Oneeer</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../g.jpeg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Sven Svensson
              </h3>
              <p class="text-base text-slate-500">Founder of Fesla</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center gap-4 text-center">
            <img
              class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
              src="../../h.jpg"
              alt=""
            />
            <div class="space-y-1">
              <h3
                class="text-lg font-semibold leading-6 text-black font-display">
                Richie Oneal
              </h3>
              <p class="text-base text-slate-500">COO at Pff Inc</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
