<section>
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-32 2xl:max-w-7xl items-center">
    <div class="max-w-xl mx-auto text-center">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        Get acces to all posts.
      </p>
      <p class="mt-4 text-lg tracking-tight text-slate-600">
        Including premium ones
      </p>
    </div>

    <div class="mx-auto space-y-4 max-w-xl mt-12" w-full>
      <div class="bg-mist-600 flex flex-col">
        <div class="px-6 py-8 sm:p-10 sm:pb-6">
          <div
            class="grid items-end justify-center w-full grid-cols-1 text-left">
            <div class="mt-6">
              <h2
                class="text-lg lg:text-4xl text-black font-semibold font-display">
                Full access
              </h2>
              <p class="mt-2 text-base text-black">
              Premium information every sunday
              </p>
              <ul
                class="space-y-3 font-normal list-inside list-disc mt-3 text-black"
                role="list">
                <li>Access to premium posts</li><li>Weekly newsletters</li><li>
                  Simple, secure card payment
                </li><li>No Advertising</li><li>Special discounts</li>
              </ul>
            </div>
            <div class="order-first ml-auto">
              <p>
                <span
                  class="text-5xl font-light tracking-tight text-black font-display"
                  >$35</span
                >
                <span class="text-base font-medium text-black">/mo</span>
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-between flex-1 px-6 pb-8 sm:px-8">
          <div>
            <a
              href="#"
              class="inline-flex justify-center py-1 px-4 text-base font-medium tracking-wide focus:outline-none bg-black text-white hover:bg-mist-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-mist-600 active:bg-mist-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-mist-600 w-full"
              aria-describedby="tier-starter">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
