<footer aria-labelledby="footer-heading" class="border-t bg-wood-500">
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-6 2xl:max-w-7xl">
    <div
      class="flex-col flex lg:flex-row lg:items-center lg:py-16 gap-y-12 items-start justify-between">
      <div>
        <div class="text-black items-center flex lg:w-1/2">
          <div>
            <p class="font-semibold font-serif lg:text-4xl text-2xl">
              phanatik.
            </p><p class="max-w-sm mt-1 text-base font-medium">
              Designed and built in the Åland Islands by Michael Andreuzza.
            </p>
          </div>
        </div><nav class="flex-col flex lg:flex-row gap-8 mt-11">
          <a
            class="text-black hover:text-salmon-600 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-base font-medium transition-colors"
            href="/overview"
            ><span class="relative z-10">Overview</span>
          </a><a
            class="text-black hover:text-salmon-600 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-base font-medium transition-colors"
            href="https://www.lexingtonthemes.com/license"
            ><span class="relative z-10">License</span>
          </a><a
            class="text-black hover:text-salmon-600 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-base font-medium transition-colors"
            href="https://lexingtonthemes.com/documentation"
            ><span class="relative z-10">Documentation</span>
          </a><a
            class="text-black hover:text-salmon-600 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-base font-medium transition-colors"
            href="/https://twitter.com/lexingtonthemes"
            ><span class="relative z-10">Social</span>
          </a><a
            class="text-black hover:text-salmon-600 py-2 -mx-3 -my-2 delay-150 hover:delay-[0ms] px-3 relative rounded-lg text-base font-medium transition-colors"
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cd4e7a6a-f165-43e1-a971-2f54570d88ca"
            ><span class="relative z-10">Buy Phanatik</span>
          </a>
        </nav>
      </div>
    </div><div class="flex-col flex border-t md:pt-6 pb-12 pt-8">
      <p class="text-black md:mt-0 mt-6 text-base font-medium">
        © Copyright <span>2023</span>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
